body 
{
    color: brown;
    text-align: center;
    font-family: Arial;
    background-color: blanchedalmond;

    
}

#container

{
   width: 70%;
   padding: 1em;
   text-align: center;
   border: 1px solid white;
   margin: 0 auto;
    
}

#container h1

{
    font-size: 20px;

    
}